* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    border: 1px solid red;
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}
