* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    /* border: 1px solid red; */
    background-color: #1A0B2E;
    color: white;
    max-width: 1600px;
    margin: 0 auto;
}

/* Shared styles */



/* nav-bar */

nav {
    margin-top: 24px;
    max-width: 1200px;
    margin: 0 auto;
}
.nav-ber h3{
    font-size: xx-large;
}

.nav-ber {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.li-item ul {
    list-style: none;
}
.li-item ul li {
    display: inline;
    margin-left: 32px;
    font-size: 16px;
    font-weight: 500;
}
.gradient-color{
    background: linear-gradient(45deg,#f7e83f, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.btn-1 button{
    color: white;
    padding: 12px 30px;
    background: linear-gradient(45deg,#f7e83f, #FB09B4, #9100F8);
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.icon{
    display: none;
}

 /* Banner section */
.banner{
    height: 750px;
    background-image: url(../assets/hero-bg.png);
}
.middle-container{
    margin-top: 85px;
}

.podcast-circle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
}
.podcast-circle > img{
    position: relative;
    left: 48px;
    top: 90px;
}
.new{
    font-size: 18px;
    font-weight: 600;
    background: #00FF88;
    color: #1A0B2E;
    position: relative;
    right: -260px;
    top: -130px;
    padding: 8px 15px;
    border-radius: 18px;
}
.podcast-details{
    text-align: center;
}
.podcast-details h2{
    font-size: 60px;
    margin-top: 40px;
    font-weight: 800;
}
.podcast-details > p{
    opacity: 80%;
}
.podcast-btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px 10px;
}
.spotify-btn{
    cursor: pointer;
    font-size: 20px;
    width: 210px;
    color: white;
    border: none;
    background: linear-gradient(45deg,#f7e83f, #FB09B4, #9100F8);
    border-radius: 50px;
    text-align: center;
}
.sub-btn{
    cursor: pointer;
    font-size: 18px;
    border-radius: 90px;
    padding: 10px;
    width: 150px;
    border: 2px solid #00FF88;
    background: none;
    color: #00FF88;
}

/* About Section */
.podcast{
    max-width: 1200px;
    margin: 0 auto;
}
.podcast > h2{
    margin-top: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.podcast > p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 160px;
    opacity: 80%;
}
.viewer{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.listeners-details{
    width: 240px;
    margin-bottom: 120px;
    
}
.listeners-details > h2{
    font-size: 48px;
    text-align: center;
    color: #00FF88;
    margin-bottom: 16px;
}
.listeners-details > p{
    font-size: 16px;
    text-align: center;
    opacity: 80%;
}

/* why chose section */




















@media screen and (max-width:576px) {
    .li-item,
    .btn-1{
        display: none;
    }
    .icon{
        display: block;
        margin-right: 10px;
        font-size: xx-large;
    }
    .viewer{
        grid-template-columns: repeat(2,1fr);
    }
    /* .items,
    .items-2,
    .items-02{
        flex-direction: column;
        
    } */
}