* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    /* border: 1px solid red; */
    background-color: #1A0B2E;
    color: white;
    max-width: 1600px;
    margin: 0 auto;
}

/* nav-bar */

nav {
    margin-top: 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-ber h3 {
    font-size: xx-large;
}

.nav-ber {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.li-item ul {
    list-style: none;
}

.li-item ul li {
    display: inline;
    margin-left: 32px;
    font-size: 16px;
    font-weight: 500;
}

.gradient-color {
    background: linear-gradient(45deg, #f7e83f, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.btn-1 button {
    color: white;
    padding: 12px 30px;
    background: linear-gradient(45deg, #f7e83f, #FB09B4, #9100F8);
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.icon {
    display: none;
}

/* Banner section */
.banner {
    height: 750px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.middle-container {
    margin-top: 85px;
}

.podcast-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
}

.podcast-circle>img {
    position: relative;
    left: 48px;
    top: 90px;
}

.new {
    font-size: 18px;
    font-weight: 600;
    background: #00FF88;
    color: #1A0B2E;
    position: relative;
    right: -260px;
    top: -130px;
    padding: 8px 15px;
    border-radius: 18px;
}

.podcast-details {
    text-align: center;
}

.podcast-details h2 {
    font-size: 60px;
    margin-top: 40px;
    font-weight: 800;
}

.podcast-details>p {
    opacity: 80%;
}

.podcast-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px 10px;
}

.spotify-btn {
    cursor: pointer;
    font-size: 20px;
    width: 210px;
    color: white;
    border: none;
    background: linear-gradient(45deg, #f7e83f, #FB09B4, #9100F8);
    border-radius: 50px;
    text-align: center;
}

.sub-btn {
    cursor: pointer;
    font-size: 18px;
    border-radius: 90px;
    padding: 10px;
    width: 150px;
    border: 1.8px solid #00FF88;
    background: none;
    color: #00FF88;
}

/* About Section */
.podcast {
    max-width: 1200px;
    margin: 0 auto;
}

.podcast>h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.podcast>p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 160px;
    opacity: 80%;
}

.viewer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.listeners-details {
    width: 240px;
    margin-bottom: 120px;

}

.listeners-details>h2 {
    font-size: 48px;
    text-align: center;
    color: #00FF88;
    margin-bottom: 16px;
}

.listeners-details>p {
    font-size: 16px;
    text-align: center;
    opacity: 80%;
}


/* why chose section */


/* .why{
    border: 1px solid red;
    padding: 120px 200px;
}
.why > h2{
    border: 1px solid springgreen;
    font-size: 45px;
    font-weight:700;
    text-align: center;
}

.box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.row{
    grid-row: span 2;
}
.cols{
    grid-column: span 2
} */


/* Featured Episodes */
.episodes {
    max-width: 1200px;
    margin: 0 auto;
}
.episodes>h2 {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}
.episodes-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.vedios>h4 {
    font-size: 24px;
    font-weight: bold;
    padding: 24px 24px 12px 24px;
    background-color: #250D44;
    gap: 10px;
}
.vedios>p {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    background-color: #250D44;
}
.vedios iframe {
    border-radius: 24px 24px 0px 0px;
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
}

.duration {
    display: flex;
    gap: 10px;
    padding: 12px 24px;
    background-color: #250D44;
    border-radius: 0px 0px 24px 24px;
}

/* Host Section */


.host {
    margin-top: 120px;
    margin-bottom: 131px;
}
.host>h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 50px;
}
.host-container {
    padding: 50px 50px 80px 50px;
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(53, 17, 101, 0.4);

}
.details>h3 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}
.details>p {
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    padding-bottom: 30px;
}

.icons-container {
    display: flex;
    gap: 15px;
}
.icons {
    position: relative;
    top: -110px;
    left: 465px;
    padding-top: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 8px;
    border: 1px solid rgba(255, 255, 255, 0.199);
}
.icons>img {
    margin-left: 15px;
}


/* footer section */

footer {
    /* border: 1px solid; */
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.footer-container {
    /* border: 1px solid #FB09B4; */
    padding: 120px;

}
.contain-header {
    text-align: center;
}
.contain-header>h1 {
    font-size: 75px;
    padding: 10px;
}

.footer-icons {
    /* border: 1px solid #00FF88; */
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 50px;
    justify-content: center;
    align-items: center;
    max-width: 575px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.f-icon {
    display: flex;
    gap: 6px;
    align-items: center;
}

.footer-container>p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    margin-top: 32px;
}


























@media screen and (max-width:576px) {

    .li-item,
    .btn-1 {
        display: none;
    }

    .icon {
        display: block;
        margin-right: 10px;
        font-size: xx-large;
    }

    .viewer {
        grid-template-columns: repeat(2, 1fr);
    }

    .episodes-item {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .host-container {
        flex-direction: column;
    }

    .icons {
        position: relative;
        top: -100px;
        left: 150px;
    }

    .details {
        text-align: center;
    }

    .box{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .footer-icons {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15px;
        column-gap: 1px;
        padding-left: 15%;
    }

    .footer-container {
        padding: 40px 20px;
    }
}